<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Model App</span>
    <span class="logout" *ngIf="this.logged$ | async" (click)="logout()">Logout</span>
  </mat-toolbar-row>
</mat-toolbar>
