<h2 mat-dialog-title>Delete Model</h2>
<mat-dialog-content>
    <p>Are you sure you want to delete this model?</p>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close [mat-dialog-close]="true">Yes</button>
  <button mat-button mat-dialog-close [mat-dialog-close]="false">No</button>
</mat-dialog-actions>
