<div class="form-center">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <h1>Login</h1>
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Enter your login</mat-label>
      <input matInput formControlName="login" required />
    </mat-form-field>
    <mat-error *ngIf="login?.invalid && (login?.dirty || login?.touched)"
      >Login is required</mat-error
    >
    <mat-form-field appearance="outline" class="input-field">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        formControlName="password"
        required
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-error
      *ngIf="password?.invalid && (password?.dirty || password?.touched)"
      >Password is required</mat-error
    >
    <button mat-raised-button type="submit" [disabled]="!loginForm.valid" color="primary">
      Login
    </button>
    <div *ngIf="error" class="error">
      Wrong login or password
    </div>
  </form>
</div>
