.input-field, button{
    max-width: 15rem;
    width: 100%;
}


.form-center{
    display: grid;
    width: 100%;
    height: 70vh;
    place-items: center;
}


form{
    h1{
        font-weight: 500;
        width: 100%;
        text-align: center;
        color: white;
        background-color: rgb(63, 81, 181);
        padding: 1.5rem 0;
        font-size: 1.75rem;
        border-top-right-radius: 1rem;
        border-top-left-radius: 1rem;
    }
    border-radius: 1rem;
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    max-width: 25rem;
    width: 100%;
    gap: 1rem;
    padding-bottom: 3rem;
}

.error{
    color: red;
    font-weight: 500;
}
