<h2 mat-dialog-title>Model Details</h2>
<mat-dialog-content>
  <mat-list>
    <mat-list-item> Name: {{ data.nazwa }} </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Data: {{ data.data_na | date }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Preprocesor: {{ data.preprocesor }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Postprocesor: {{ data.postprocesor }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Zbior Danych: {{ data.zbior_danych }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Frakcja Testowa: {{ data.frakcja_testowa }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> N Trees: {{ data.n_trees }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      Interaction Depth: {{ data.interaction_depth }}</mat-list-item
    >
    <mat-list-item> Shrinkage: {{ data.shrinkage }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> N Minobsinnode: {{ data.n_minobsinnode }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Cv folds: {{ data.cv_folds }}</mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item> Threshold: {{ data.threshold }}</mat-list-item>
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close align="end">Close</button>
</mat-dialog-actions>
