<div class="models">
  <button mat-raised-button color="primary" (click)="addNewModel()">
    <span class="material-icons"> add </span> New Model
  </button>
  <app-model-item
    *ngFor="let model of models$ | async"
    [model]="model"
  ></app-model-item>
</div>
