<mat-card>
  <mat-card-title>{{ model.nazwa | uppercase }}</mat-card-title>
  <mat-card-subtitle>{{ model.data_na | date }}</mat-card-subtitle>
  <mat-card-content *ngIf="this.fraud">
    <span class="fraud">Fraud: {{ this.fraud }}</span></mat-card-content
  >
  <mat-card-actions align="end">
    <button mat-button (click)="calculateFraud()">Calculate fraud</button>
    <button mat-button (click)="openDialog()">Details</button>
    <button mat-button (click)="delete()">
      <span class="material-icons"> delete </span>
    </button>
  </mat-card-actions>
</mat-card>
